@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
	box-sizing: border-box;
}

form > h1 {
	font-weight: bold;
	margin: 0;
	color: rgb(3,73,139);
}

form > p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
	color: rgb(3,73,139);
}

form > a {
	color: rgb(3,73,139);
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

form > button {
	border-radius: 20px;
	border: 1px solid #edf2f7;
	background-color: rgb(3,73,139);
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

form > button:active {
	transform: scale(0.95);
}

form > button:focus {
	outline: none;
}

form > button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 90%;
	width: 100%;
	text-align: center;
	margin-top:5%;
	margin-bottom:5%;
    background-color: #edf2f7;
    border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
}

form > input {
	background-color: #eee;
	border: 1px solid rgb(3,73,139);
	border-radius: 10px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

form > textarea {
    background-color: #eee;
	border: 1px solid rgb(3,73,139);
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	height: 100px;
}

.container {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 480px;
	display:flex;
}

.form-container {
    margin-right:5%;
    margin-left: 5%;
	top: 0;
	min-height: 100%;
	width: 40%;
	transition: all 0.6s ease-in-out;
}