body {
    margin:0;
    padding:0;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    max-width:100%;
    max-height:100%;
    font-family: 'Montserrat', sans-serif;
    display:block;
    overflow-x:hidden;
    background:#edf2f7;
}

span {
  display: table-cell;
  vertical-align: middle;
}

a {
    text-decoration:none;
    color:inherit;
    display: table-cell;
    vertical-align: middle;
}

.header {
    background:linear-gradient(173deg, rgb(3,73,139) 27%, rgb(86,163,234) 100%);
    width:100%;
    height:15%;
    color:white;
}

.navbar {
    width:80%;
    height:100%;
    margin-left:10%;
    margin-right:10%;
    display:block;
}

.nav-links {
    width:100%;
    height:40%;
    display:table;
}

.nav-desc {
    padding-top:2%;
    width:100%;
    height:40%;
    float:left;
    display:table;
}

.logo {
    float:left;
    font-size:30px;
    display: table-cell;
    vertical-align: middle;
}

.logo> a {
    background: linear-gradient(to right, #ffffff 39%, #1ab2ff 40%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color:transparent;
}

.nav-buttons {
    float:right;
    font-size:12px;
    display: table-cell;
    vertical-align: middle;
}

.main {
    width: 80%;
    padding-top:5%;
    margin-left:10%;
    margin-right:10%;
    display: inline-block;

}


