{% extends "base.html" %}

{% block content %}
    {% if article %}

    <div style="padding-bottom:5%; display:block;">
        <h1 style="font-size:20px; color:#006080;">{{ article.title }}</h1>

        {% if tag_list %}
            <div style="display:inline;">
                {% for tag in tag_list %}
                    {% for element in tag %}
                    <h4>{{ element.title }}</h4>
                    {% endfor %}
                {% endfor %}
            </div>

        {% else %}
            <p> No tags </p>
        {% endif %}

        <p>{{ article.pub_date }}</p>
        <p>{{ article.authors }}</p>
        <p>{{ article.doi }}</p>
        <p>{{ article.keywords }}</p>
        <p>{{ article.abstract }}</p>

        <form style="display:block; width:10%;" method="POST">
            {% csrf_token %}
            <h6>Add an existing tag to the document</h6>
            <input type="text" placeholder="Enter tag title" name="add_tag_field">
            <button type="submit" name="add_tag_form">Add Tag</button>
        </form>

        {% if create_tag_form %}
            <div style="width:10%;">
               <form action="" method="POST">
                   {% csrf_token %}
                   {{ create_tag_form }}
                   <button type="submit" name="create_tag_form">Create Tag</button>
               </form>
            </div>
        {% endif %}
   </div>
    {% else %}
        <p> No such article! </p>
    {% endif %}

{% endblock content %}