{% extends "base.html" %}

{% block content %}

        <form action="results/" method="POST" class="search">
            {% csrf_token %}
            {% if latest_articles %}
            <h1> Latest articles </h1>
            {% for key, article in latest_articles.items %}
            <div style="padding-bottom:5%">
            <a href="detail/{{ article.id }}" style="font-size:20px; color:#006080;">{{ article.title }}</a>
            <p>{{ article.pub_date }}</p>
            <p>{{ article.authors }}</p>
            <p>{{ article.abstract }}</p>
           </div>
            {% endfor %}
            {% endif %}
        </form>

{% endblock content %}