{% extends "base.html" %}

{% block content %}

        {% if response_data %}
        {% for key, article in response_data.items %}
            <div style="padding-bottom:5%">
            <a href="{{article.url}}" style="font-size:20px; color:#006080;">{{ article.title }}</a>
            <p>{{ article.rank }}</p>
           </div>
        {% endfor %}
        {% endif %}

{% endblock content %}