<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>FetchMedPub - Medical Publications Database</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="#">
    </head>

    <body>
        <div class="header">
            <div class="navbar">
                <div class="nav-links">
                    <span>
                        <div class="logo">
                            <a href="http://{{ host }}">FetchMedPub</a>
                        </div>
                    </span>
                    <span>
                        <div class="nav-buttons">
                            {% if c_nav_links %}
                            {% for key, link in c_nav_links.items %}
                                <a href="{{ link.url }}" style="padding-right:10px;"> {{ link.text }} </a>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </span>

                </div>
                <div class="nav-desc">
                    <span>FetchMedPub is an online knowledge database for researchers and practitioners. We serve over
                        45 thousands of medical publications which focused on sports related terms.</span>
                </div>
            </div>
        </div>
        <div class="main">
                {% block content %}
                {% endblock %}
        </div>
    </body>
</html>