<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body>
    <div class="container" id="form-container">
        <div class="form-container">
            <form action="" method="POST">
                {% csrf_token %}
                <h1>Sign in</h1>
                {% if sign_in_error %}
                    <p style="color:red">Please check your credentials!</p>
                {% endif %}
                {{ sign_in_form }}
                <button type="submit" name="sign_in_form">Sign In</button>
            </form>
        </div>

        <div class="form-container">
           <form action="" method="POST">
               {% csrf_token %}
               <h1>Sign Up</h1>
               {% if sign_up_error %}
               <p style="color:red">Please check your entries. You are using existing username or email. Also, all fields should include
                   ASCII safe characters.</p>
               {% endif %}
               {% if submitted %}
                    You've requested SignUp
               {% else %}
               {{ sign_up_form }}
               <button type="submit" name="sign_up_form">Sign In</button>
           </form>
           {% endif %}
        </div>
    </div>
</body>
</html>
